.leaflet-tile.leaflet-tile-loaded {
  opacity: 0.3 !important;
}

.legend {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  font-weight: 600;
}

.legend .legend-item {
  display: flex;
}

.legend .legend-item .item-value {
  padding: 2px 5px;
  margin-right: 5px;
  color: #fff;
}